.card {
  flex: 1;
  height: 100%;
  @include flex-column;
  gap: 0;
  min-width: 320px;
  max-width: 360px;

  &__img {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 390px;

    border-radius: 100% 100% 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
      position: absolute;
      bottom: 16px;
      left: 16px;
      padding: 7px 17px 10px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.25;
      color: #ffffff;
      background: #42424250;
      border-radius: 8px;
      opacity: 0.9;
      backdrop-filter: blur(6px);
    }
  }

  &__cont {
    @include flex-column;
    flex: 1;
    justify-content: space-between;
    gap: 24px;
    padding: 20px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #7a7a7a30;
    border-radius: 0 0 16px 16px;
    width: 100%;
  }

  &__descr {
    margin-top: 10px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
    height: 5.6em;
  }

  &__action {
    @include flex-column;

    gap: 10px;
    width: 100%;

    .btn {
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: stretch;
    align-items: start;
    gap: 6px;
    width: 100%;
  }

  @include tablet {
    min-width: 285px;
    max-width: 285px;

    &__img {
      height: 330px;
    }
  }

  @include mobile {
    min-width: 260px;
    max-width: 260px;

    &__img {
      height: 300px;
    }
  }
}