.world {
  &__title {
    max-width: 680px;
    margin: 0 auto 40px;
    text-align: center;
  }

  &__top {
    @include flex-column;

    gap: 32px;
  }

  &__w {
    display: flex;
    gap: 24px;
  }

  &__card {
    flex: 1;
    min-height: 0;
    @include flex-column;
  }

  &__line {
    width: 1px;
    min-width: 1px;
    height: auto;
    background: #2b2b2a;

    @include tablet-above {
      &:first-of-type,
      &:last-of-type {
        @include visually-hidden;
      }
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    font-weight: 500;
    background: #424241;
    border-radius: 6px;
  }

  &__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: auto;
  }

  @include tablet {
    &__title {
      text-align: left;
      max-width: 540px;
      margin-inline: 0;
      margin-bottom: 32px;
    }

    &__w {
      flex-direction: column;
    }

    &__img {
      width: 100%;
      align-self: end;
    }

    &__card {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__top {
      justify-content: space-between;
      height: 100%;
    }

    &__text {
      max-width: 350px;
    }

    &__line {
      width: 100%;
      height: 1px;
    }
  }

  @include mobile {
    &__title {
      margin-bottom: 24px;
    }
    &__card {
      display: flex;
    }
  }
}
