.open {
  &__w {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 20px;
    padding: 10px;
    background: #111111;
  }

  &__left {
    @include flex-column;

    justify-content: space-between;
    align-items: center;
    padding: 44px;
    text-align: center;
    border: 1px solid #2b2b2b;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__text {
    p {
      max-width: 540px;
      margin: 12px auto 0;
    }
  }

  &__btn {
    width: 100%;
  }

  &__right {
    @include flex-center;

    position: relative;
    padding: 44px;
    border: 1px solid #2b2b2b;
  }

  &__img {
    width: auto;
    height: 520px;
  }

  &__icon {
    position: absolute;
    display: block;

    @include square(40px);

    &:nth-of-type(1) {
      top: 24px;
      left: 24px;
    }

    &:nth-of-type(2) {
      top: 24px;
      right: 24px;
    }

    &:nth-of-type(3) {
      right: 24px;
      bottom: 24px;
    }

    &:nth-of-type(4) {
      bottom: 24px;
      left: 24px;
    }
  }

  @include tablet {
    &__w {
      gap: 10px;
    }

    &__left {
      padding: 20px;
    }

    &__right {
      padding: 20px;
    }

    &__icon {
      @include square(32px);
    }

    &__img {
      height: 400px;
    }
  }

  @media (max-width: 767px) {
    &__w {
      grid-template-columns: 1fr;
      grid-auto-rows: auto auto;
      gap: 6px;
      padding: 6px;
    }

    &__left {
      padding: 16px;
    }

    &__right {
      padding: 16px;
    }

    &__icon {
      @include square(24px);
    }

    &__title {
      margin-bottom: 16px;
    }

    &__img {
      height: 420px;
    }
  }

  @include mobile-m {
    &__img {
      height: 380px;
    }
  }

  @include mobile-s {
    &__img {
      height: 320px;
    }
  }
}